*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


#registrationForm{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.registrationForm{
    background-image:linear-gradient(#6e5b91,#461b82);
    padding: 0 !important;
    font:bold;
}

